<!-- Generated template for the ContactorlistComponent component -->
<!--<ion-list>-->
  <!--<ion-item>-->
    <!--<ion-thumbnail item-start>-->
      <!--<img src="assets/icon/event_hlqtwt.png">-->
    <!--</ion-thumbnail>-->
     <!--<div>-->
    <!--妇儿辖区(3)-->
  <!--</div> -->
  <!--</ion-item>-->
  <!--<ion-item>-->
    <!--<ion-thumbnail item-start>-->
      <!--<img src="assets/icon/event_hlqtwt.png">-->
    <!--</ion-thumbnail>-->
     <!--<div>-->
    <!--肿瘤病医院(10)-->
  <!--</div> -->
  <!--</ion-item>-->
  <!--<ion-item>-->
    <!--<ion-thumbnail item-start>-->
      <!--<img src="assets/icon/event_hlqtwt.png">-->
    <!--</ion-thumbnail>-->
     <!--<div>-->
    <!--综合内科辖区(5)-->
  <!--</div> -->
  <!--</ion-item>    -->
<!--</ion-list>-->
<ion-list>
  <ion-list-header>
    最近联系人
  </ion-list-header>
  <ion-item (click)="goChat()">
    <ion-thumbnail item-start>
      <img src="assets/icon/2017-05-13 212002.jpg">
    </ion-thumbnail>
     <div>
    喵喵
  </div>
  </ion-item>

</ion-list>
